/* Global variable */
:root {
  --color-accent: oklch(65% 50% 166);
  accent-color: var(--color-accent);
  color-scheme: light;
  --border-color: oklch(50% 10% 200 / 40%);
}

html::-webkit-scrollbar {
  display: none;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch)/2);
}

/* Navigation bar */
body nav{
  display: flex;
}

body nav a{
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

body nav a.current{
  border-bottom-width: 0.4em;
  padding-bottom: 0.1em;
  font-weight: bold;
}

body nav a:hover{
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  border-bottom-width: 0.4em;
  padding-bottom: 0.1em;
}

/* Form style */
/* OLD BLOCK STYLE */
/* body form input{
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-block: 0.1em;
}

body form textarea{
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-block: 0.1em;
} */

/* NEW CSS GRID STYLE */
body form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

body form label{
  display: grid; 
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

body form button{
  grid-column: 1 / -1;
}

/* Project Style */
.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article{
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects article h2{
  margin: 0;
}


h1{
  font-size: 4rem;
}

h1,h2,h3,h4,h5,h6{
  line-height: 1.1;
  text-wrap: balance;
}

/* pie chart & legend*/
.year{
  font-family: "Baskerville Old Face";
  font-variant-numeric: oldstyle-nums;
}

.container{
  display: flex;
  align-items: center;
  gap: 1em;
  flex: 1;
}

#projects-pie-plot{
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

&:has(path:hover) {
  path:not(:hover){
    opacity: 0.5;
  }
}

path{
  transition: 300ms;
  cursor: pointer;
}

/* style for selected wedge */
.selected{
  --color: oklch(60% 45% 0) !important;

  &:is(path){
    fill: var(--color);
  }

  /* why i need to combine parameters in <li> and <span>? */
  &:is(li){
    display: inline-flex;
    width: 1.5em;
    aspect-ratio: 1 / 1;
    background-color: var(--color);
    border-radius: 50%;
    gap: 3px;
  }
}

.legend{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em,1fr));
  padding: 1em;
  margin: 1em;
  border-color:rgb(219, 219, 219);
  border-width: 2px;
  border-style: solid;
  width: 100%;
}

/* <li> */
.swatch-point{
  display: flex;
  align-items: center;
  gap: 3px;
}

/* <span> */
.swatch{
  width: 1.5em;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 50%;
}

.searchBar{
  width: 100%;
  padding:0.5em;
  margin: 1em;
}
/* Resume style */
#resume{
  font: inherit;
}

#resume section{
  border: solid;
  padding: 0.5em;
  padding-top: 0;
  padding-left: 1.2em;
  border-width: 1px;
}
#resume section p{
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 0.5em;
}

#resume section h2{
  margin-top: 0;
  margin-bottom: 0.5em;
}

#resume section h4{
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 0.5em;
}

.l1:hover{
  color: transparent;
  position: relative;
}

.l1:hover::after{
  content: "中文";
  color: black;
  position: absolute;
  top: 0;
  left: 15%;
}

.l2:hover{
  color: transparent;
  position: relative;
}

.l2:hover::after{
  content: "廣東話";
  color: black;
  position: absolute;
  top: 0;
  left: 15%;
}

.l3:hover{
  color: transparent;
  position: relative;
}

.l3:hover::after{
  content: "日本語";
  color: black;
  position: absolute;
  top: 0;
  left: 15%;
}

/* color-scheme dropdown */
body label.color-scheme{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: inherit;
  font-size: 80%;
}

/* homepage github data */
h2 {
  padding-top: 2rem;
}
#profile-stats dl{
  display: grid;
  grid-template-columns: repeat(5);
}

#profile-stats dt{
  grid-row: 1;
  font-size: 1em;
  color: gray;
}

#profile-stats dd{
  grid-row: 2;
  font-size: 2em;
  font-weight: normal;
}


/* Meta */
#stats dl{
  display: grid;
  grid-template-columns: repeat(5);
}

#stats dt{
  grid-row: 1;
  font-size: 0.8em;
  color: gray;
  text-transform: uppercase;
  text-align: center;
}

#stats dd{
  display: flex;
  font-size: 1.6em;
  text-align: right;
  grid-template-columns: repeat(5);
  justify-content: flex-end;
  margin-right: 1.8em;
}

.gridlines{
  opacity: 0.2;
}

/* chart */
dl.info{
  margin: 0;
  display: grid;
  gap: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition-duration: 500ms;
  transition-property: opacity, visibility;

  dt{
    grid-column: 1;
    opacity: 0.8;
    font-size: 0.8em;
    padding: 0.2em;
    color: grey;
    font-family: inherit;
    text-align: right;
  }
  dd{
    grid-column: 2;
    font-size: 1em;
    color: black;
    font-family: inherit;
  }
}

dl.info[hidden]:not(:hover, :focus-within){
  opacity: 0;
  visibility: hidden;
}

.tooltip{
  position: fixed;
  top: 1em;
  left: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 10px oklab(0.7 -0.04 -0.07);
  border-radius: 10%;
  backdrop-filter: blur(1px) saturate(180%);
  padding: 0.1em;
}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover{
  transform: scale(1.5);
}

/* brush rect style*/
@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected {
  fill: #ff6b6b;
}

/* language breakdown */
dl.stats{
  display: grid;
  grid-template-columns: repeat(5);

  dt{
    grid-row: 1;
    font-size: 1.2em;
    color: gray;
    text-align: center;
  }
  
  dd{
    grid-row: 2;
    font-size: 1.3em;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }
}
